:root {
    --primary: #D81E5B;
    --secondary: #8A4EFC;
    --light: #EEE;
    --light-alt: #61759b;
    --backgroundPurple: #6e41bf;
    --backgroundPurple-alt: #170229;
    --success: #3cf281;
    --success-glow: 0 0 2px rgba(60, 242, 129, 0.9), 0 0 4px rgba(60, 242, 129, 0.4), 0 0 1rem rgba(60, 242, 129, 0.3), 0 0 4rem rgba(60, 242, 129, 0.1);
    --neon: #32fbe2;
    --neon-glow:  0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 226, 0.5), 0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: var(--backgroundPurple-alt);
    color: var(--light);
}

.App {
    padding: 32px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 64px;
    color: var(--neon);
    text-shadow: var(--neon-glow);
}

.task {
    position: relative;
    background-color: var(--backgroundPurple);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
}

.task:hover {
    opacity: 0.8;
}

.task .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: var(--backgroundPurple-alt);
    background-image: linear-gradient(to bottom, transparent, transparent);
    transition: 0.4s;
}

.task.is-complete .checkbox {
    background-color: var(--success);
    box-shadow: var(--success-glow);

}

.task .text {
    font-size: 20px;
}

.task.is-complete .text {
    text-decoration: line-through;
}

.task .delete-task {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--light);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #e44c55;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2rem rgba(231, 94, 102, 0.4), 0 0 8rem rgba(231, 94, 102, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.addPopup {
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 999px;
    font-size: 28px;
    font-weight: 900;
    color: var(--light);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(255, 255, 255, 0.2);
    background-color: #ffbf07;
    box-shadow: 0 0 2px rgba(255, 193, 7, 0.9), 0 0 4px rgba(255, 193, 7, 0.4), 0 0 1rem rgba(255, 193, 7, 0.3), 0 0 4rem rgba(255, 193, 7, 0.1);
    cursor: pointer;
}

.addPopup:hover {
    opacity: 0.8;
}



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #190a34;
    border-style: solid;
    border-color: #ffbf07;
    box-shadow: 0 0 2px rgba(255, 193, 7, 0.9), 0 0 4px rgba(255, 193, 7, 0.4), 0 0 1rem rgba(255, 193, 7, 0.3), 0 0 4rem rgba(255, 193, 7, 0.1);
    padding: 32px;
    border-radius: 16px;


}



.closePopup {
    position: absolute;
    top: 9px;
    right: 12px;
    width: 16px;
    height: 32px;
    font-size: 25px;
    color: #ffbf07;
    text-shadow: 0 0 2px rgba(255, 193, 7, 0.9), 0 0 4px rgba(255, 193, 7, 0.4), 0 0 1rem rgba(255, 193, 7, 0.3), 0 0 4rem rgba(255, 193, 7, 0.1);
    cursor: pointer;
    font-weight: 600;
}

.popup h3 {
    color: var(--backgroundPurple);
    margin-bottom: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.add-task-input {
    appearance: none;
    outline: none;
    border: none;
    background-color: #FFF;
    padding: 16px;
    border-radius: 16px;
    width: 100%;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    padding: 16px 32px;
    border-radius: 999px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 160px;
    margin: auto;
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(255, 255, 255, 0.2);
    background-color: #ffbf07;
    box-shadow: 0 0 2px rgba(255, 193, 7, 0.9), 0 0 4px rgba(255, 193, 7, 0.4), 0 0 1rem rgba(255, 193, 7, 0.3), 0 0 4rem rgba(255, 193, 7, 0.1);
    cursor: pointer;

}

.button:hover {
    opacity: 0.9;
}

.container {
    width: 1480px;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38px;
}